extends layout

block content
  h1 Sample portfolio app
  p Download the postman collection to explore
  a(href="https://www.dropbox.com/s/jn8s2s3197tiuba/my-portfolio.postman_collection.json?dl=0" download="my-portfolio.postman_collection.json") 
   | Download Now !
