extends layout

block content
  h1 Sample portfolio app
  p Download the postman collection to explore
  a(href="./my-portfolio.postman_collection.json" download="my-portfolio.postman_collection.json") 
   | Download Now !
